/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

html,
body {
  padding: 0;
  margin: 0;
  background: var(--background-neutral-global-tertiary);
  color: var(--text-neutral-primary);
  font-family: var(--font-primary);
  font-size: 16px;
  line-height: 26px;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

* {
  /* Custom scrollbar styles */
  scrollbar-width: thin;
  scrollbar-color: var(--stroke-neutral-alfa-tertiary) transparent;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: var(--stroke-neutral-alfa-tertiary);
  border-radius: 4px;
  cursor: pointer;
}

*::-webkit-scrollbar-thumb:hover {
  background: var(--stroke-neutral-alfa-primary);
}

#root {
  flex-direction: column;
  display: flex;
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
p {
  padding: 0;
  margin: 0;
}

p {
  line-height: 26px;
}

a {
  color: inherit;
  text-decoration: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

h2 {
  font-size: 22px;
  line-height: 36px;
}

h1 {
  font-size: 22px;
  line-height: 36px;
}

.fade-in {
  animation: fadeIn ease 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-out {
  animation: fadeOut ease 2s;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
