/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

html,
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  background: var(--background-neutral-global-tertiary);
  color: var(--text-neutral-primary);
  font-family: var(--font-primary);
  font-size: 16px;
  line-height: 26px;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

* {
  /* Custom scrollbar styles */
  scrollbar-width: thin;
  scrollbar-color: var(--stroke-neutral-alfa-tertiary) transparent;

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--stroke-neutral-alfa-tertiary);
    border-radius: 4px;
    cursor: pointer;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: var(--stroke-neutral-alfa-primary);
  }
}

#root {
  flex-direction: column;
  display: flex;
  min-height: 100vh;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
p {
  padding: 0;
  margin: 0 0 10px;
}

p {
  line-height: 26px;
}

a {
  color: inherit;
  text-decoration: none;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

h2 {
  font-size: 22px;
  margin-top: 22px;
}

h1 {
  font-size: 22px;
  line-height: 28px;
}

.fade-in {
  animation: fadeIn ease 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    opacity: 1;
  }
}

.fade-out {
  animation: fadeOut ease 2s;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.show-mobile {
  display: none;
}

@media (--vp-mobile) {
  .hide-mobile {
    display: none;
  }

  .show-mobile {
    display: block;
  }
}

.customScrollBarVertical {
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-gutter: stable;

  @media (--only-desktop) {
    -ms-overflow-style: auto !important;
    scrollbar-width: auto !important;
  }

  &::-webkit-scrollbar {
    display: initial !important;
    width: 8px !important;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--stroke-neutral-alfa-tertiary);
    border-radius: 4px;
    cursor: pointer;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
}

.customScrollBarHorizontal {
  overflow-x: auto;
  -ms-overflow-style: auto !important;
  scrollbar-width: auto !important;
  scrollbar-gutter: stable;

  @media (--vp-mobile) {
    padding-bottom: 4px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: var(--background-neutral-global-tertiary);
  }

  &::-webkit-scrollbar {
    background-color: var(--background-neutral-global-tertiary);
    height: 4px !important;
    display: initial !important;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: var(--stroke-neutral-alfa-tertiary);
    cursor: pointer;
  }
}

.banner-photo-provider > div:nth-child(2) {
  background: transparent;
}

.banner-photo-provider > div:nth-child(2) > div:nth-child(1) {
  opacity: 0;
}

.photo-wrap-style {
  transition: all 0.4s ease-out;
}

.photo-wrap-style > div:nth-child(1) > img {
  transform: scale(0.9);
}

/* react-hot-toast styles */
.go2534082608 {
  background: var(--background-error-primary) !important;
}

.go2072408551 {
  @media (--vp-mobile) {
    width: 100%;
  }
}

.go2344853693 {
  background: var(--background-success-primary) !important;
}

.toaster-container {
  top: 28px;
  right: 16px;
  z-index: 999999 !important;

  @media (--vp-mobile) {
    top: 16px;
  }
}

.PhotoView-Portal {
  z-index: 20000 !important;
}

.overlay-blocker {
  position: fixed;
  width: 100vw;
  height: calc(100vh + 100px);
  z-index: 9999;
  top: 0;
  left: 0;
  display: block;
  background: transparent;
  inset: 0;
  pointer-events: unset;
  cursor: default;

  @media (--vp-mobile) {
    display: none;
  }
}

.mark-color-fuzzy-search {
  background: var(--background-neutral-disabled) !important;
  color: currentColor !important;
}
