[data-sonner-toaster] {
  font-family: var(--font-primary) !important;
}

[data-sonner-toast] {
  padding: 10px 24px 10px 12px !important;
  border-radius: var(--custom-border-radius) !important;
  border: 1.25px solid var(--stroke-neutral-alfa-tertiary) !important;
  background: var(--background-neutral-global-tertiary) !important;
  font-size: 15px !important;
  box-shadow: var(--data-sonner-toast-box-shadow);
}

[data-icon] {
  height: 20px !important;
  width: 20px !important;
}

[data-close-button] {
  background: transparent !important;
  border: none !important;
  position: absolute !important;
  right: 0 !important;
  left: unset !important;
  top: 16px !important;
  min-width: 20px !important;
  width: 20px !important;
  height: 40px !important;
  max-width: 20px !important;
  color: var(--icon-neutral-tertiary) !important;
  transition: color 0.2s;
  cursor: pointer !important;
}

[data-title] {
  color: var(--text-neutral-primary) !important;
}

[data-close-button] svg {
  width: 16px !important;
  height: 16px !important;
}

[data-close-button]:hover {
  color: var(--icon-neutral-primary) !important;
}

.sonner-loading-wrapper {
  --size: 18px !important;
  --gray11: var(--icon-colored-brand) !important;
}
