/* Анимация входа ImprovementsBlock */
.slide-improvements-enter {
  opacity: 0.8;
  transform: translateX(var(--improvements-block-width));
}

.slide-improvements-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition:
    opacity 500ms ease,
    transform 500ms ease;
}

/* Анимация выхода ImprovementsBlock */
.slide-improvements-exit {
  opacity: 1;
  transform: translateX(0);
}

.slide-improvements-exit-active {
  opacity: 0;
  transform: translateX(var(--improvements-block-width));
  transition:
    opacity 500ms ease,
    transform 500ms ease;
}

/* переменные для анимация сдвига Follow Up когда isOpenImprovementsBlock === true */
:root {
  --right-margin-for-improvements-block: calc(
    (100vw - var(--content-width) - var(--improvements-block-width)) / 2 - 32px
  );
  --shift-amount-for-slide-content: var(--improvements-block-width);

  @media (max-width: 1024px) {
    --right-margin-for-improvements-block: 0 !important;
  }
}

/* Анимация скелетонов загрузки */
.skeleton-animation {
  background: linear-gradient(
    110deg,
    var(--background-neutral-secondary) 0%,
    var(--background-neutral-secondary) 40%,
    var(--background-skeleton-animation) 50%,
    var(--background-neutral-secondary) 60%,
    var(--background-neutral-secondary) 100%
  );
  background-size: 300% 100%;
  animation: shine-large 8s ease-in-out infinite;
  opacity: 0.85;
}

@keyframes shine-large {
  0% {
    background-position-x: 300%;
    opacity: 0.8;
  }
  50% {
    background-position-x: 50%;
    opacity: 1;
  }
  100% {
    background-position-x: -300%;
    opacity: 0.8;
  }
}

.opacity-animation {
  animation: opacityAnimation ease 0.6s;
}

@keyframes opacityAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
