:root {
  --font-primary: -apple-system, system-ui, Helvetica, Arial;
  --custom-border-radius: 16px;
}

:root.theme-white {
  --data-sonner-toast-box-shadow:
    0 80px 22px 0 rgba(0, 0, 0, 0), 0 51px 20px 0 rgba(0, 0, 0, 0),
    0 29px 17px 0 rgba(0, 0, 0, 0.01), 0 13px 13px 0 rgba(0, 0, 0, 0.02),
    0 3px 7px 0 rgba(0, 0, 0, 0.02) !important;
  --start-button-box-shadow:
    0 1px 2.2px rgba(0, 0, 0, 0.051), 0 2.3px 5.3px rgba(0, 0, 0, 0.059),
    0 4.4px 10px rgba(0, 0, 0, 0.06), 0 7.8px 17.9px rgba(0, 0, 0, 0.059),
    0 14.6px 33.4px rgba(0, 0, 0, 0.059), 0 35px 80px rgba(0, 0, 0, 0.07) !important;
}

:root.theme-dark {
  --data-sonner-toast-box-shadow: none !important;
  --start-button-box-shadow: none !important;
}
