:root {
  --white-alfa-main: #ffffffff;
  --white-alfa-600: #ffffffe0;
  --white-alfa-500: #ffffffb2;
  --white-alfa-400: #ffffff80;
  --white-alfa-300: #ffffff1f;
  --white-alfa-200: #ffffff0f;
  --white-alfa-100: #ffffff08;
  --black-alfa-main: #000000ff;
  --black-alfa-600: #3c3e41ff;
  --black-alfa-500: #4d576aff;
  --black-alfa-400: #4d576a80;
  --black-alfa-300: #4d576a2e;
  --black-alfa-200: #4d576a1f;
  --black-alfa-100: #4d576a12;
  --brand-900: #0066d7ff;
  --brand-800: #007aebff;
  --brand-main: #148effff;
  --brand-600: #148effe0;
  --brand-500: #148effb2;
  --brand-400: #148eff80;
  --brand-300: #148eff26;
  --brand-200: #148eff1a;
  --brand-100: #148eff0f;
  --brand-dark-900: #0066d7ff;
  --brand-dark-800: #007aebff;
  --brand-dark-main: #148effff;
  --brand-dark-600: #99ceffff;
  --brand-dark-500: #99ceffb2;
  --brand-dark-400: #99ceff80;
  --brand-dark-300: #99ceff38;
  --brand-dark-200: #99ceff2b;
  --brand-dark-100: #99ceff1f;
  --red-900: #801e18ff;
  --red-800: #c60a0aff;
  --red-main: #ff3b30ff;
  --red-600: #ff3b30e0;
  --red-500: #ff3b30b2;
  --red-400: #ff3b3080;
  --red-300: #ff3b3026;
  --red-200: #ff3b301a;
  --red-100: #ff3b300f;
  --red-dark-900: #801e18ff;
  --red-dark-800: #eb3333ff;
  --red-dark-main: #ff3b30ff;
  --red-dark-600: #ff3b30e0;
  --red-dark-500: #ff3b30b2;
  --red-dark-400: #ff3b3080;
  --red-dark-300: #ff3b3033;
  --red-dark-200: #ff3b3026;
  --red-dark-100: #ff3b301a;
  --orange-900: #d74200ff;
  --orange-800: #eb5600ff;
  --orange-main: #ff6a00ff;
  --orange-600: #ff6a00e0;
  --orange-500: #ff6a00b2;
  --orange-400: #ff6a0080;
  --orange-300: #ff6a0026;
  --orange-200: #ff6a001a;
  --orange-100: #ff6a000f;
  --orange-dark-900: #cd6215ff;
  --orange-dark-800: #e17629ff;
  --orange-dark-main: #f58a3dff;
  --orange-dark-600: #f58a3de0;
  --orange-dark-500: #f58a3db2;
  --orange-dark-400: #f58a3d80;
  --orange-dark-300: #f58a3d26;
  --orange-dark-200: #f58a3d26;
  --orange-dark-100: #f58a3d1a;
  --green-900: #003e1cff;
  --green-800: #005230ff;
  --green-main: #006644ff;
  --green-600: #006644e0;
  --green-500: #006644b2;
  --green-400: #00664480;
  --green-300: #00664426;
  --green-200: #0066441a;
  --green-100: #0066440f;
  --green-dark-900: #00bd47ff;
  --green-dark-800: #06d15bff;
  --green-dark-main: #1ae56fff;
  --green-dark-600: #1ae56fe0;
  --green-dark-500: #1ae56fb2;
  --green-dark-400: #1ae56f80;
  --green-dark-300: #1ae56f33;
  --green-dark-200: #1ae56f26;
  --green-dark-100: #1ae56f1a;
  --black-solid-main: #000000ff;
  --black-solid-600: #3c3e41ff;
  --black-solid-500: #4d576aff;
  --black-solid-400: #6d7585ff;
  --black-solid-300: #a6abb5ff;
  --black-solid-200: #e9ebedff;
  --black-solid-100: #ffffffff;
  --white-solid-main: #ffffffff;
  --white-solid-600: #e9ebedff;
  --white-solid-500: #a6abb5ff;
  --white-solid-400: #6d7585ff;
  --white-solid-300: #4d576aff;
  --white-solid-200: #3c3e41ff;
  --white-solid-100: #000000ff;
  --system-purple-900: #9035d0ff;
  --system-purple-dark-900: #8a40cbff;
  --system-purple-dark-800: #9e54dfff;
  --system-purple-dark-main: #b268f3ff;
  --system-purple-dark-600: #b268f3e0;
  --system-purple-dark-500: #b268f3b2;
  --system-purple-dark-400: #b268f380;
  --system-purple-dark-300: #b268f326;
  --system-purple-dark-200: #b268f31a;
  --system-purple-dark-100: #b268f30f;
  --system-purple-800: #7c21bcff;
  --system-purple-main: #680da8ff;
  --system-purple-600: #680da8e0;
  --system-purple-500: #680da8b2;
  --system-purple-400: #680da880;
  --system-purple-300: #680da826;
  --system-purple-200: #680da81a;
  --system-purple-100: #680da80f;
  --system-telegram-900: #007ed7ff;
  --system-telegram-800: #0092ebff;
  --system-telegram-main: #00a6ffff;
  --system-telegram-600: #00a6ffe0;
  --system-telegram-500: #00a6ffb2;
  --system-telegram-400: #00a6ff80;
  --system-telegram-300: #00a6ff26;
  --system-telegram-200: #00a6ff1a;
  --system-telegram-100: #00a6ff0f;
  --brand-pink-500: #ff547f;
  --brand-pink-300: #d370f1;
}

:root.theme-dark {
  --background-neutral-global-primary: #3c3e41ff;
  --background-neutral-global-secondary: #323437ff;
  --background-neutral-global-tertiary: #282a2dff;
  --background-neutral-global-grey: #0c1016ff;
  --background-neutral-secondary: var(--white-alfa-200);
  --background-neutral-tertiary: var(--white-alfa-300);
  --background-neutral-disabled: var(--white-alfa-400);
  --background-neutral-primary-inverse: var(--white-alfa-main);
  --background-neutral-secondary-inverse: var(--white-alfa-600);
  --background-neutral-tertiary-inverse: var(--white-alfa-500);
  --background-neutral-pure-active: var(--white-alfa-300);
  --background-brand-primary: var(--brand-dark-main);
  --background-brand-primary-hover: var(--brand-dark-800);
  --background-brand-primary-active: var(--brand-dark-900);
  --background-brand-primary-subdued: var(--brand-dark-100);
  --background-brand-primary-subdued-hover: var(--brand-dark-200);
  --background-brand-primary-subdued-active: var(--brand-dark-300);
  --background-error-primary: var(--red-dark-main);
  --background-error-primary-hover: var(--red-dark-800);
  --background-error-primary-active: var(--red-dark-900);
  --background-error-primary-subdued: var(--red-dark-100);
  --background-error-primary-subdued-hover: var(--red-dark-200);
  --background-error-primary-subdued-active: var(--red-dark-300);
  --background-warning-primary: var(--orange-dark-main);
  --background-warning-primary-hover: var(--orange-dark-800);
  --background-warning-primary-active: var(--orange-dark-900);
  --background-warning-primary-subdued: var(--orange-dark-100);
  --background-warning-primary-subdued-hover: var(--orange-dark-200);
  --background-warning-primary-subdued-active: var(--orange-dark-300);
  --background-success-primary: var(--green-dark-main);
  --background-success-primary-hover: var(--green-dark-800);
  --background-success-primary-active: var(--green-dark-900);
  --background-success-primary-subdued: var(--green-dark-100);
  --background-success-primary-subdued-hover: var(--green-dark-200);
  --background-success-primary-subdued-active: var(--green-dark-300);
  --text-neutral-primary: var(--white-alfa-main);
  --text-colored-brand: var(--brand-dark-600);
  --text-colored-error: var(--red-dark-main);
  --text-colored-warning: var(--orange-dark-main);
  --text-colored-success: var(--green-dark-main);
  --text-colored-browser-recently: var(--system-purple-dark-main);
  --text-colored-telegram: var(--system-telegram-main);
  --text-neutral-secondary: var(--white-alfa-600);
  --text-neutral-tertiary: var(--white-alfa-500);
  --text-neutral-disabled: var(--white-alfa-400);
  --text-neutral-primary-on-color: var(--white-alfa-main);
  --text-neutral-secondary-on-color: var(--white-alfa-500);
  --text-neutral-tertiary-on-color: var(--white-alfa-400);
  --text-neutral-disabled-on-color: var(--white-alfa-300);
  --text-neutral-primary-inverse: var(--black-alfa-main);
  --icon-neutral-primary: var(--white-alfa-main);
  --icon-colored-brand: var(--brand-dark-600);
  --icon-colored-error: var(--red-dark-main);
  --icon-colored-warning: var(--orange-dark-main);
  --icon-colored-success: var(--green-dark-main);
  --icon-colored-browser-recently: var(--system-purple-dark-main);
  --icon-colored-telegram: var(--system-telegram-main);
  --icon-neutral-secondary: var(--white-alfa-600);
  --icon-neutral-tertiary: var(--white-alfa-500);
  --icon-neutral-disabled: var(--white-alfa-400);
  --icon-neutral-primary-on-color: var(--white-alfa-main);
  --icon-neutral-secondary-on-color: var(--white-alfa-500);
  --icon-neutral-tertiary-on-color: var(--white-alfa-400);
  --icon-neutral-disabled-on-color: var(--white-alfa-300);
  --icon-neutral-primary-inverse: var(--black-alfa-main);
  --stroke-neutral-alfa-primary: var(--white-alfa-400);
  --stroke-colored-brand: var(--brand-dark-600);
  --stroke-colored-error: var(--red-dark-main);
  --stroke-colored-warning: var(--orange-dark-main);
  --stroke-colored-success: var(--green-dark-main);
  --stroke-colored-browser-recently: var(--system-purple-dark-main);
  --stroke-colored-telegram: var(--system-telegram-main);
  --stroke-neutral-alfa-secondary: var(--white-alfa-300);
  --stroke-neutral-alfa-tertiary: var(--white-alfa-200);
  --stroke-neutral-alfa-disabled: var(--white-alfa-100);
  --stroke-neutral-alfa-primary-inverse: var(--black-alfa-400);
  --stroke-neutral-alfa-secondary-inverse: var(--black-alfa-300);
  --stroke-neutral-alfa-tertiary-inverse: var(--black-alfa-200);
  --stroke-neutral-alfa-disabled-inverse: var(--black-alfa-100);
  --transparent-background-1: #282a2dff;
  --transparent-background-2: #282a2d00;
  --transparent-background-1-secondary: #3e4043ff;
  --transparent-background-2-secondary: #3e404300;
  --transparent-background-1-tertiary: #282a2dff;
  --transparent-background-2-tertiary: #282a2d00;
  --transparent-background-1-quartenary: #323437ff;
  --transparent-background-2-quartenary: #32343700;
  --stroke-neutral-solid-primary: var(--white-solid-500);
  --stroke-neutral-solid-secondary: var(--white-solid-400);
  --stroke-neutral-solid-tertiary: var(--white-solid-200);
  --stroke-neutral-solid-disabled: var(--white-solid-200);
  --stroke-neutral-solid-primary-inverse: var(--black-solid-200);
  --stroke-neutral-solid-secondary-inverse: var(--black-solid-300);
  --stroke-neutral-solid-tertiary-inverse: var(--black-solid-400);
  --stroke-neutral-solid-disabled-inverse: var(--black-solid-500);
  --background-purple-primary: var(--system-purple-dark-main);
  --background-purple-primary-hover: var(--system-purple-dark-800);
  --background-purple-primary-active: var(--system-purple-dark-900);
  --background-purple-primary-subdued: var(--system-purple-dark-100);
  --background-purple-primary-subdued-hover: var(--system-purple-dark-200);
  --background-purple-primary-subdued-active: var(--system-purple-dark-300);
  --background-telegram-primary: var(--system-telegram-main);
  --background-telegram-primary-hover: var(--system-telegram-800);
  --background-telegram-primary-active: var(--system-telegram-900);
  --background-telegram-primary-subdued: var(--system-telegram-100);
  --background-telegram-primary-subdued-hover: var(--system-telegram-200);
  --background-telegram-primary-subdued-active: var(--system-telegram-300);
  --background-support-logo-support: var(--white-alfa-main);
  --support-text-area-layer: #38383bff;
}

:root.theme-white {
  --background-neutral-global-primary: #e9ebedff;
  --background-neutral-global-secondary: #ffffffff;
  --background-neutral-global-tertiary: #ffffffff;
  --background-neutral-global-grey: #f6f6f6ff;
  --background-neutral-secondary: var(--black-alfa-100);
  --background-neutral-tertiary: var(--black-alfa-200);
  --background-neutral-disabled: var(--black-alfa-300);
  --background-neutral-primary-inverse: var(--black-alfa-main);
  --background-neutral-secondary-inverse: var(--black-alfa-600);
  --background-neutral-tertiary-inverse: var(--black-alfa-500);
  --background-neutral-pure-active: var(--white-alfa-main);
  --background-brand-primary: var(--brand-main);
  --background-brand-primary-hover: var(--brand-800);
  --background-brand-primary-active: var(--brand-900);
  --background-brand-primary-subdued: var(--brand-100);
  --background-brand-primary-subdued-hover: var(--brand-200);
  --background-brand-primary-subdued-active: var(--brand-300);
  --background-error-primary: var(--red-main);
  --background-error-primary-hover: var(--red-800);
  --background-error-primary-active: var(--red-900);
  --background-error-primary-subdued: var(--red-100);
  --background-error-primary-subdued-hover: var(--red-200);
  --background-error-primary-subdued-active: var(--red-300);
  --background-warning-primary: var(--orange-main);
  --background-warning-primary-hover: var(--orange-800);
  --background-warning-primary-active: var(--orange-900);
  --background-warning-primary-subdued: var(--orange-100);
  --background-warning-primary-subdued-hover: var(--orange-200);
  --background-warning-primary-subdued-active: var(--orange-300);
  --background-success-primary: var(--green-main);
  --background-success-primary-hover: var(--green-800);
  --background-success-primary-active: var(--green-900);
  --background-success-primary-subdued: var(--green-100);
  --background-success-primary-subdued-hover: var(--green-200);
  --background-success-primary-subdued-active: var(--green-300);
  --text-neutral-primary: var(--black-alfa-main);
  --text-colored-brand: var(--brand-main);
  --text-colored-error: var(--red-main);
  --text-colored-warning: var(--orange-main);
  --text-colored-success: var(--green-main);
  --text-colored-browser-recently: var(--system-purple-main);
  --text-colored-telegram: var(--system-telegram-main);
  --text-neutral-secondary: var(--black-alfa-600);
  --text-neutral-tertiary: var(--black-alfa-500);
  --text-neutral-disabled: var(--black-alfa-400);
  --text-neutral-primary-on-color: var(--white-alfa-main);
  --text-neutral-secondary-on-color: var(--white-alfa-500);
  --text-neutral-tertiary-on-color: var(--white-alfa-400);
  --text-neutral-disabled-on-color: var(--white-alfa-300);
  --text-neutral-primary-inverse: var(--white-alfa-main);
  --icon-neutral-primary: var(--black-alfa-main);
  --icon-colored-brand: var(--brand-main);
  --icon-colored-error: var(--red-main);
  --icon-colored-warning: var(--orange-main);
  --icon-colored-success: var(--green-main);
  --icon-colored-browser-recently: var(--system-purple-main);
  --icon-colored-telegram: var(--system-telegram-main);
  --icon-neutral-secondary: var(--black-alfa-600);
  --icon-neutral-tertiary: var(--black-alfa-500);
  --icon-neutral-disabled: var(--black-alfa-400);
  --icon-neutral-primary-on-color: var(--white-alfa-main);
  --icon-neutral-secondary-on-color: var(--white-alfa-500);
  --icon-neutral-tertiary-on-color: var(--white-alfa-400);
  --icon-neutral-disabled-on-color: var(--white-alfa-300);
  --icon-neutral-primary-inverse: var(--white-alfa-main);
  --stroke-neutral-alfa-primary: var(--black-alfa-400);
  --stroke-colored-brand: var(--brand-main);
  --stroke-colored-error: var(--red-main);
  --stroke-colored-warning: var(--orange-main);
  --stroke-colored-success: var(--green-main);
  --stroke-colored-browser-recently: var(--system-purple-main);
  --stroke-colored-telegram: var(--system-telegram-main);
  --stroke-neutral-alfa-secondary: var(--black-alfa-300);
  --stroke-neutral-alfa-tertiary: var(--black-alfa-200);
  --stroke-neutral-alfa-disabled: var(--black-alfa-100);
  --stroke-neutral-alfa-primary-inverse: var(--white-alfa-400);
  --stroke-neutral-alfa-secondary-inverse: var(--white-alfa-300);
  --stroke-neutral-alfa-tertiary-inverse: var(--white-alfa-200);
  --stroke-neutral-alfa-disabled-inverse: var(--white-alfa-100);
  --transparent-background-1: #e9ebedff;
  --transparent-background-2: #e9ebed00;
  --transparent-background-1-secondary: #f3f3f5ff;
  --transparent-background-2-secondary: #f3f3f500;
  --transparent-background-1-tertiary: #ffffffff;
  --transparent-background-2-tertiary: #ffffff00;
  --transparent-background-1-quartenary: #ffffffff;
  --transparent-background-2-quartenary: #ffffff00;
  --stroke-neutral-solid-primary: var(--black-solid-400);
  --stroke-neutral-solid-secondary: var(--black-solid-300);
  --stroke-neutral-solid-tertiary: var(--black-solid-200);
  --stroke-neutral-solid-disabled: var(--black-solid-100);
  --stroke-neutral-solid-primary-inverse: var(--white-solid-200);
  --stroke-neutral-solid-secondary-inverse: var(--white-solid-300);
  --stroke-neutral-solid-tertiary-inverse: var(--white-solid-400);
  --stroke-neutral-solid-disabled-inverse: var(--white-solid-500);
  --background-purple-primary: var(--system-purple-main);
  --background-purple-primary-hover: var(--system-purple-800);
  --background-purple-primary-active: var(--system-purple-900);
  --background-purple-primary-subdued: var(--system-purple-100);
  --background-purple-primary-subdued-hover: var(--system-purple-200);
  --background-purple-primary-subdued-active: var(--system-purple-300);
  --background-telegram-primary: var(--system-telegram-main);
  --background-telegram-primary-hover: var(--system-telegram-800);
  --background-telegram-primary-active: var(--system-telegram-900);
  --background-telegram-primary-subdued: var(--system-telegram-100);
  --background-telegram-primary-subdued-hover: var(--system-telegram-200);
  --background-telegram-primary-subdued-active: var(--system-telegram-300);
  --background-support-logo-support: var(--black-alfa-600);
  --support-text-area-layer: #f1eff1ff;
}
