.header-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  padding: 1.5rem;
  flex-shrink: 0;
  position: absolute;
  top: 0;
}

.logo-icon {
  width: 28px;
  height: 28px;
  object-fit: contain;
}

.header-buttons-wrapper {
  display: flex;
  gap: 8px;
  align-items: center;
  position: absolute;
  right: 1.5rem;
  z-index: 100;
}
