.status-panel {
  /*width: 100%;*/
  /*max-width: 640px;*/
  /*padding: 24px;*/
  /*border-radius: var(--custom-border-radius);*/
  /*background-color: var(--background-brand-primary-subdued);*/
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  position: relative;
}

.status-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
}

.status-indicator {
  font-size: 20px;
  font-weight: 600;
  color: var(--text-neutral-primary);
}

.status-message {
  color: var(--text-neutral-secondary);
}
